.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr 1fr;
    gap: 10px;
    height: 100vh;
}

.header {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.pictures {
    grid-column: 1;
    grid-row: 2 / span 2;
}

.text {
    grid-column: 2;
    grid-row: 2 / span 2;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    font-size: 25px;
    
}

table, th, td {
    border: 2px solid rgb(4, 0, 255);
    
}
@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto 1fr;
    }

    .header {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .pictures {
        grid-column: 1;
        grid-row: 2;
    }

    .text {
        grid-column: 2;
        grid-row: 2;
    }
}

